html, body{
    padding: 0px;
    margin: 0px;
    align-content: center;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 20px;
}

body > h1 {
    grid-area: 1 / 1 / 2 / 3;
}

body > .section.users {
    grid-area: 2 / 1 / 3 / 2;
}

body > .section.events {
    grid-area: 2 / 2 / 3 / 3;
}

body > .section.rooms {
    grid-area: 3 / 1 / 4 / 2;
}

body > .section.room-event-relation {
    grid-area: 3 / 2 / 4 / 3;
}

body > .section.room-guide-relation {
    grid-area: 4 / 1 / 5 / 2;
}

body > .section.work-hours {
    grid-area: 4 / 2 / 5 / 3;
}

body > .section-full {
    grid-area: 5 / 1 / 6 / 3;
}

.row{
    /* background-color: azure; */
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 90%;
    border-bottom: 2px solid black;
}

.section, .section-full {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: hsl( 283, 39%, 83% );
    box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.3);
}

.section{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1%;
    height: 450px;
}

/* Inputs */

input:not(.numInput), button, select:not(.flatpickr-monthDropdown-months) {
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 2px solid hsl( 283, 39%, 63% );
    margin: 3px;
    transition: box-shadow ease 0.1s, background-color ease 0.1s, transform ease 0.1s;
}

input:not(.numInput):focus, button:focus, select:not(.flatpickr-monthDropdown-months):focus {
    transform: scale(1.05);
    outline: none;
}

input:not(.numInput):not(.checkbox) {
    width: 120px;
    box-shadow: inset 1px 2px 4px 0 rgba(0,0,0,0.3);
}

button, select:not(.flatpickr-monthDropdown-months) {
    background-color: hsl( 283, 39%, 53% );
    color: white;
    box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.3);
}

button:hover, select:not(.flatpickr-monthDropdown-months):hover {
    cursor: pointer;
}

button:hover, button:focus, select:not(.flatpickr-monthDropdown-months):focus, select:not(.flatpickr-monthDropdown-months):hover {
    background-color: hsl( 283, 39%, 58% );
    transform: scale(1.05);
    box-shadow: 1.5px 3px 4px 0 rgba(0,0,0,0.3);
}

button:active, select:not(.flatpickr-monthDropdown-months):open {
    background-color: hsl( 283, 39%, 63% );
    transform: scale(0.95);
    box-shadow: none;
}

/* Inputs end */

.num{
    width: 1vw;
    min-width: 30px;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

.list{
    /* border:red solid 2px; */
    overflow-y: scroll;
    height: 80%;
}

.datetime{
    min-width: 200px;
}

.time{
    width: 80px;
}

.dada_class{
    /* border: blue solid 5px; */
    width: 100%;
    display: flex;
    /* padding: 5px; */
    margin: 10px;
}

.flatpickr-calendar.inline {
    margin-top: 1.5%;
    width: 310px !important;
    font-size: 16px; /* Adjust font size */
    box-sizing: border-box;
}

.section-full{
    position: relative;
    display: block;
    
    /* padding: 1%; */
    /* margin-right:auto; */
    padding-top: 2%;
    /* margin-top: auto; */
}

.calendar-inputs{
    width: calc(95% - 310px);
    margin: 0;
    /* border:red solid 5px; */
}

h4{
    margin: 0px;
    padding: 0px;
}

.alligned_name.check_all {
    font-weight: bold;
}

.row_flex{
    /* background-color: azure; */
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    margin: 0 20px;
    gap: 10px;
}

.list_small{
    overflow-y: scroll;
    height: 320px;
}

.calender_results{
    margin-left: 15%;

    height: 500px;
}

.hours{
    display: flex;
    /* flex:auto; */
    width: 100%;
    height: 40px;
    /* border: blue solid 2px; */
}

.hour{
    flex:1;
    border: 1px solid black;
    border-radius: 5px;
}

.cal_event{
    position: relative;
    display: flex;
    width: 123%;
    left: -23%;
    /* border: red solid 2px; */
}

.cal_event > h4{
    position: relative;
    width: 23%;
    /* border: red solid 1px; */
    margin: 0px;
}

.small_event{
    width: 100%;
    height: 30px;
    position: relative;
    border-bottom: black solid 1px;
    /* display: flex; */
    /* left: -20%; */
}
.hour_event{
    z-index: 2;
    position: absolute;
    height: 100%;
    background-color: rgba(114, 222, 114, 0.622);
   
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hour_event:hover{
    transform: scale(1.05);
    background-color: rgba(46, 237, 46, 0.622);
}

.hour_end {
    position: absolute;
    z-index: 1;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(72, 72, 221, 0.492);
}

.calendar-cont > div {
    margin-left: auto;
    margin-right: auto;
}

.add_form {
    display: none;
    position: absolute;
    z-index: 3;
    height: 300px;
    width: 600px;
    background-color: hsla(284, 39%, 63%, 0.562);
    box-shadow: 1px 2px 6px 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    backdrop-filter: blur(10px); /* the blur effect */
    -webkit-backdrop-filter: blur(10px);
}

.add_form > textarea {
    resize: none;
}

.add_form > #form_info{
    width: 90%;
    height: 50%;
}

#form_start_time, #form_end_time{
    min-width: 80px;
}